*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #636363;
  font-size: 16px;
  margin: auto;
}

h2 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 46px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto';
}