*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-size: 16px;
  margin: auto;
}

h2 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 46px;
  text-transform: uppercase;
  font-family: 'Roboto';
}